*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4px;

    box-shadow: rgb(130, 141, 143) 8px 3px 9px -1px;
    padding: 34px;
}

#left{
position: relative;
left: 236px;
}
#right{
position: relative;
right: 233px;
}


#left a{
    color: black;
    text-decoration: none;
    
}
#right a{
    text-decoration: none;
    color: black;

}
.container1{
    display: block;
}
.container1 img{
     width: 90vw;
     margin: 0 66px;
    display: block;
}
.container1 h1{
    top: 311px;
    font-size: large;
    position:absolute;
    left: 612px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
    color: rgb(255, 255, 255,1);
    padding: 5px 10px;
    font-size: 16px;
    display:inline-block;
}
.container1 p{
    top: 310px;
    position:absolute;
    left: 647px;
    /* background: rgba(0, 0, 0, 0.5); */
    color: rgb(255, 255, 255,1);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    display:inline-block;
}
.container3{
    width: 90vw;
    margin: 0 66px;
   
}
.grid-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: end;
    
}

.grid-item img{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .container3 p{
    position: absolute;   
  background: rgba(0, 0, 0, 0.7); 
  color: #fff; 

  padding: 5px 10px; 
  font-size: 16px; 
}
 .container4{
    width: 90vw;
    margin: 0 66px;
    
 }
 .about-container{
    display: flex;
    justify-content: space-between;
    width: 100;
    gap: 24px;
 }
 
.div1 img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.new{
    width: 100%;
    height: 24px;
}
.container5{
    width: 90vw;
    margin: 0 66px; 
}
.contact{
    display: block;
    width: 100%;
    padding: 7px 0;
}
.container5 h2,p{
    padding-top: 14px;
    padding-bottom: 14px;
}
.container6 img{
    width: 89vw;
    margin: 0 66px; 
}
.send{
    background-color: black;
    color: #fff;
    width: 113px;
    margin-bottom: 34px;
}
footer {
    background-color: black;
        width: 89vw;
    margin: -2px 66px; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
 color: wheat;   
}